export(GenAlgForSubsetSelection,GenAlgForSubsetSelectionNoTest,GenAlgForSubsetSelectionMONoTest,GenAlgForSubsetSelectionMO,AOPT,CDMEAN, CDMEAN0, CDMEAN2,CDMEANMM,DOPT,EOPT,PEVMEAN,PEVMEAN0,PEVMEAN2,PEVMEANMM,GAUSSMEANMM,PEVMAX, PEVMAX0,PEVMAX2,CDMAX, CDMAX0,CDMAX2, GOPTPEV,GOPTPEV2,Amat.pieces, disttoideal, dist_to_test,dist_to_test2,neg_dist_in_train,neg_dist_in_train2)
import("graphics")
import("stats")
import("parallel")
import("AlgDesign")
importFrom("scales", alpha)
importFrom("scatterplot3d", scatterplot3d)
importFrom("emoa", is_dominated)
importFrom("grDevices", colorRampPalette)